<link href="/stylesheets/front.css" rel="stylesheet">

<h2 class="title">Spotify Trivia</h1>
  <div class="cloud cloud-home">
   <div class="small-cloud-top"></div>
   <div class="big-cloud-top"></div>
  </div>

<div>
<p>How well do you know your favorite artists?</p>
<p><%= @message %></p>

<br><br>

<div>
