/*<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />*/

body {
  font-color: black;
  font-size: 30px;
  font-family: Avenir;
  text-align: center;
}

h1 {
  font-size: 100px;
  font-family: Avenir;
  text-align: center;
  margin-top: 5%;
}

h2 {
  font-size: 50px;
  font-family: Avenir;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-family: Avenir;
  text-align: center;
}

p.question {
  font-size: 20px;
  font-family: Avenir;
  text-align: center;
}

.hint {
  font-size: 20px;
  font-family: Avenir;
  text-align: center;
  text-decoration-color: gray

}


@keyframes float {
  0% {
    top: 10%;
    right: 10%;
  }
  50% {
    top: 12%;
    right: 16%;
  }
  100% {
    top: 10%;
    right: 10%;
  }
}
@keyframes float_2 {
  0% {
    bottom: 10%;
    left: 10%;
  }
  50% {
    bottom: 12%;
    left: 16%;
  }
  100% {
    bottom: 10%;
    left: 10%;
  }
}

.cloud {
  opacity: 0.8;
  position: relative;
  /*top: 20%;*/
  animation: float 15s infinite;
}

.cloud-body {
  width: 300px;
  height: 150px;
  background: linear-gradient(1deg, #add8e6, #00cc00);
  border-radius: 100px;
  /*position: absolute;
  margin-top: 2%;*/
  position: absolute;
  top: 10%;
  right: 10%;
}

.cloud-home {
  width: 300px;
  height: 150px;
  background: linear-gradient(1deg, #add8e6, #00cc00);
  border-radius: 100px;
  /*position: absolute;
  margin-top: 2%;*/
  position: absolute;
  top: 5%;
  right: 5%;
  animation-play-state: paused;
}

.small-cloud-top {
  height: 45px;
  width: 90px;
  border-radius: 90px 90px 0 0;
  background: #00cc00;
  position: relative;
  bottom: 40px;
  left: 50px;
}

.big-cloud-top {
  height: 60px;
  width: 120px;
  border-radius: 120px 120px 0 0;
  background: #00cc00;
  position: relative;
  bottom: 100px;
  left: 120px;
}

.cloud-body-2 {
  width: 300px;
  height: 150px;
  background: linear-gradient(1deg, #add8e6, #00cc00);
  border-radius: 100px;
  /*position: absolute;
  left: 16%;
  margin-top: 15%;*/
  animation: float_2 15s infinite;
}

.small-cloud-top-2 {
  height: 45px;
  width: 90px;
  border-radius: 90px 90px 0 0;
  background: #00cc00;
  position: relative;
  bottom: 40px;
  left: 50px;
}

.big-cloud-top-2 {
  height: 60px;
  width: 120px;
  border-radius: 120px 120px 0 0;
  background: #00cc00;
  position: relative;
  bottom: 100px;
  left: 120px;
}


a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    /*background: hotpink;*/
    color: green;
}

a:active {
    text-decoration: none;
    background: hotpink;
    color: white;
}
