<link href="/stylesheets/front.css" rel="stylesheet">

<body id="page-top" class="index">

  <h1 class="title">Spotify Trivia</h1>

  <br><br>
  <h2><a href="#maincontent">Play</a></h2>


  <div class="cloud cloud-body">
   <div class="small-cloud-top"></div>
   <div class="big-cloud-top"></div>
  </div>

  <div class="cloud cloud-body-2">
   <div class="small-cloud-top-2"></div>
   <div class="big-cloud-top-2"></div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br><br>
  <br>
  <br><br>
  <br><br>
  <br>
  <br><br>

  <div class="container" id="maincontent" tabindex="-1">
      <div class="row">

      </div>
  </div>


  <!-- Search Section -->
  <section class="success" id="search">
      <div class="container">
        <form class="navbar-form" style="text-align: center" method="POST" action="/albums/search">
          <div class="form-group">
            <h3> Enter an Artist's Name </h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <input type="text" id="search" class="form-control" name="search" placeholder="Search">
          </div>
          <br><br>
          <button type="submit" id="artist_search" class="btn btn-default">Question</button>
        </form>
      </div>
  </section>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <section class="questions" id="questions">


  </section>

  <section style="text-align: center" id="trivia" class="trivia">
      <div class="container">

      </div>
  </section>



</body>
